<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.mapper.SalaryMapper">
    <select id="list" resultType="com.pms.pojo.SalaryInfo">
        select s.* from SalaryInfo s
        <where>
            <if test = "name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test = "userid != null">
                AND s.user_id = #{userid}
            </if>
            <if test = "startSalary != null">
                AND s.salary >= #{startSalary}
            </if>
            <if test = "endSalary != null">
                AND s.salary &lt;= #{endSalary}
            </if>
        </where>
        <if test="sortField != null and sortField.length > 0">
            ORDER BY
            <foreach item="field" index="index" collection="sortField" separator=",">
                <choose>
                    <when test="field == 'bonus'">s.bonus</when>
                    <when test="field == 'name'">s.name</when>
                    <when test="field == 'penalty'">s.penalty</when>
                    <when test="field == 'salary'">s.salary</when>
                    <when test="field == 'userid'">s.user_id</when>
                    <otherwise>s.user_id</otherwise>
                </choose>
                <choose>
                    <when test="sortOrder[index] == true">DESC</when>
                    <otherwise>ASC</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="sortField == null or sortField.length == 0">
            ORDER BY s.user_id ASC
        </if>
    </select>

    <insert id="insert" parameterType="com.pms.pojo.SalaryInfo">
        insert into SalaryInfo (bonus, name, penalty, salary, user_id)
        values (#{bonus}, #{name}, #{penalty}, #{salary}, #{userid})
    </insert>

    <delete id="delete" parameterType="Long">
        delete from SalaryInfo where user_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.pms.pojo.SalaryInfo">
        update SalaryInfo
        <set>
            <if test="bonus != null">bonus = #{bonus},</if>
            <if test="name != null">name = #{name},</if>
            <if test="penalty != null">penalty = #{penalty},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="userid != null">user_id = #{userid},</if>
        </set>
        where user_id = #{id}
    </update>

</mapper>